html {
  background-image: url("../images/background.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.pin-code {
  width: 100%;
}

.pin-code__container {
  margin: 100px auto;
  max-width: 170px;
}

.pin-code__output {
  border: none;
  outline: none;
  background-color: transparent;
  color: #fff;
  font-size: 26px;
  width: 170px;
  padding: 0;
  margin: 0;
  text-align: center;
  letter-spacing: 5px;
}

.pin-code__output::placeholder {
  color: #fff;
}

.pin-code__numbers {
  margin-top: 20px;
  display: grid;
  grid-row-gap: 20px;
  grid-column-gap: 32px;
  grid-template-columns: repeat(auto-fit, 32px);
  max-width: 170px;
}

.pin-code__number {
  border: none;
  border-radius: 50%;
  text-decoration: none;
  font-weight: 700;
  background: #15b96c;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 42px;
  height: 42px;
  background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.1));
  color: rgba(0, 0, 0, 0.6);
  text-shadow: 0 1px 1px rgba(255, 255, 255, 0.7);
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.2), 0 1px 2px rgba(0, 0, 0, 0.2),
    inset 0 1px 2px rgba(255, 255, 255, 0.7);
  cursor: pointer;
}

.pin-code__number:hover,
.pin-code__number.hover {
  background: #fff;
}
.pin-code__number:active,
.pin-code__number.active {
  background: #d0d3d6;
  background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0));
  box-shadow: inset 0 0 2px rgba(0, 0, 0, 0.2),
    inset 0 2px 5px rgba(0, 0, 0, 0.2), 0 1px rgba(255, 255, 255, 0.2);
}
